@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap");
@import './abstract/mixins';
@import './abstract/variables';
@import './components/welcomePage';
@import './components/chooseXO';
@import './components/button';
@import './components/board';
@import './components/boardHeader';             

* {  
  margin: 0;             
  padding: 0;  
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--darkBg);
    display: flex;
    align-items: center;
    justify-content: content;
  }