:root{
    --sky: #31c3bd;
    --skyHover: #65e9e4;
    --orange: #f2b137;
    --orangeHover: #ffc860;
    --darkBg: #1a2a33;
    --bg: #1f3641;
    --light: #a8bfc9;
    --lightHover: #dbe8ed;
    --silver: #A8BFC9;
    --lightYellow:#F2B137;
    --lightBlue: #31C3BD;
}    