.play-btn{
    border: none;
    width: 96px;
    height: 96px;
    background: #1F3641;
    box-shadow: inset 0px -8px 0px #10212A;
    border-radius: 10px;
    font-size: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statistics{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.statistic{
    width: 96px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

.statistic:nth-child(1){
    background-color: var(--sky);
}
.statistic:nth-child(2){
    background-color: var(--silver);
}
.statistic:nth-child(3){
    background-color: var(--lightYellow);
}

.statistic h3{
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 15.12px;
    letter-spacing: 0.75px;
    color: var(--bgdark);
}

.statistic span{
    font-weight: 700;
    font-size: 20px;
    line-height: 25.2px;
    letter-spacing: 1.25px;
    color: var(--bgdark);
}

.x{
    background-image: url(../../src/assets/icon-x-outline.svg);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center center;
    // color: red;
}

.o{
    background-image: url(../../src/assets/icon-o-outline.svg);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center center;
    // color: blue;
}